@charset "UTF-8";

#europeanPage,.europeanStartPage
{
  position: fixed;
  top: 0; left: 0;

  z-index: 10003;
}

.europeanStartPage
{
  display: none;
}

.BtoolsLogoBtn
{
  position: absolute;
  top: 20%;
  left: 10;
  width: 50px;
  height: 50px;
  z-index: 10005;
}

#BtoolsEuropeanBtn::after
{
  content: '点击使用抽奖功能，如果人数超过5人（废话），请点击页面下方的自动加载，超过500人建议就别用了。';
  padding:5px;
  width: 160px;
  height: 100px;
  line-height: 20px;
}

.europeanBtn
{
  margin: 20px auto;
  width: 600px;
}

.europeanBtn a
{
  margin: 0 25px;
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  color: #FFF;
  border-radius: 15px;
  display: block;
  float: left;
}

.europeanUserMsg
{
  color: #F66;
  font-size: 20px;
}

#europeanStartBtn
{
  background-color: #666;
}

#europeanThisShitBtn,
#europeanEndBtn
{
  background-color: #666;
}

#europeanUserArr
{
  margin: 50px auto 0 auto;
  padding-top: 30px;
  width: 400px;
  height: 50px;
  line-height: 50px;
}

.europeanWinners
{
  margin:0 auto;
  padding-top:30px;
  width: 400px;
  height: 400px;
  overflow-y: auto;
}

.europeanUser
{
  position: relative;
}
.europeanUser span
{
  position: absolute;
  top: 10px; left: 0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.europeanUser .europeanUName,
.europeanUser .europeanUMsg
{
  position: absolute;
  text-decoration: none;
  color: #FFF;
}

.europeanUser .europeanUName
{
  top: 0;
  left: 40px;
  width: 70%;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space:nowrap;
  overflow: hidden;
}
.europeanUser .europeanUMsg
{
  top: 10px;
  right: 10px;
  padding: 3px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  border-radius: 5px;
  background-color:#ff94b1;
}

.europeanUserArrLength
{
  position: absolute;
  bottom: 30px; left: 30px;
  color: #FFF;
  font-size: 30px;
}

.europeanAutoLoad
{
  position: absolute;
  bottom: 0;
  left: 47%;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #FFF;
  background-color: #ff94b1;
  border-radius: 15px 15px 0 0;
  display: block;
}

.europeanAutoLoadProgressBar
{
  position: absolute;
  bottom: 0; left: 0;
  width: 0;
  height: 3px;
  line-height: 20px;
  font-size: 18px;
  background-color: #ff5885;
}
.europeanAtSet
{
  position: absolute;
  width: 90px;
  height: 30px;
  border: 2px #ff94b1 solid;
  border-radius: 20px;
  background-color: #FFF;
  overflow: hidden;
}
.europeanAtSet input
{
  margin: 0 30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #666;
  border: none;
}
.europeanAtSet::before,
.europeanAtSet::after
{
  color: #666;
  font-size: 20px;
}
.europeanAtSet::before
{
  content: '@';
  position: absolute;
  top:3px; left:5px;
}
.europeanAtSet::after
{
  position: absolute;
  top:0; left:60px;
  content: '人';
}

.europeanPageBG
{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.75;
  clear: both;
  z-index: 20;
  display: none;
}

.europeanExcelIcon
{
  background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAACZ0lEQVRIS2NkgALX9aEGDIxM8xkYGA1gYqTSGdoxp4JVfcyJ0ccIU+SyPvwDIyMjPzGacKnpsalj+P331x0TcQNVQubALXbdEPGfkGJC8iCL9YQ1Gc6+ukjQcppYDHLg8ednd1pJmXjgcizNLAZZuOPh/rmeCk4p2CynqcX4LKe5xbgsp6rFJYYZDG5y9hgh++X3V4bt9/dHhKn7roRJUtViUU5hhlmOXQzcrFwYln/9/e3/tvv7ImGWU9VikG3CbAIMVpKmDDwsnNgs/73kxhqnk1E7jlDdYkJ5/f9/Bsc9gSsOjFpMKKQolh8NagZq1E7ExMNoUOMMalDZK8YpwnD34wOG4y/OgkNTT0QLXOG//PaaYffjQ2A+SP7r729geVCRqcyvwHDpzTWM0CcqqEuMMsGaL765xmAlaQK2CIRBjll0Yw2DtaQpw4tvrxl4oBYtvrEGbFGgsifYEbseHSTdYpAvrCVNGKZfXoSiWZlfniFWI4QBZMndjw/hcqBmT8mRJjB/umMHQ+b+CqxpjaCPQT4U5xJlWH93O4YBIEeBfA1yRM+56WAHgBwDChkQwOZgmCEELQZZmqkbx9BwshdnLgGpCVL2BIcKiA2yHARAoQGKEmyAoMUgTSBfgXx+9NlpBn1RbYZjz0+DzQKJX3x9FZyoQInr2PMzYPEG82KGL7+/gUMBFyDKYuQUii3VwhIbzBJYAwCWusn2MU5nUyBBtI8psAOr1t//GRQPBK54gNSFiXjAyMggT22LkM37/5/h4Z7AFQogMUQLBNRpY2BawMDIqE8Ty///v8jA8C9hd+DqCyDzAQX4ZC4Y+t59AAAAAElFTkSuQmCC') no-repeat scroll 0 0 / 30px 30px;
}

.europeanAddUser
{
  position: absolute;
  width: 150px;
  border: 2px #ff94b1 solid;
  border-radius: 17px;
  overflow: hidden;
}
.europeanAddUser input
{
  padding: 0 0 0 10px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #666;
  border: none;
}
.europeanAddUser a
{
  position: absolute;
  top: 0;
  left: 110px;
  width: 40px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #FFF;
  background-color: #ff5885;
}
.europeanAddUserArr
{
  position: absolute;
  width: 300px;
}
.europeanAddUserArr::after
{
  clear: both;
}
.europeanAddUserArr a
{
  position: relative;
  margin: 5px;
  padding: 5px 10px;
  max-width: 150px;
  font-size: 18px;
  border-radius: 15px;
  color: #FFF;
  text-overflow: ellipsis;
  white-space:nowrap;
  overflow: hidden;
  background-color: #ff94b1;
  float: left;
  display: block;
}
.europeanAddUserArr a:hover::before
{
  content: '';
  position: absolute;
  top: 48%;
  left: 5%;
  width: 90%;
  height: 3px;
  background-color: #FFF;
}
