@charset "UTF-8";

.btools-history-emoji-box {
  position: absolute;
  width: 150px;
  height: 30px;
}

.btools-history-emoji-all-btn {
    position: absolute;
    top: 5px;
    left: 180px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 10px;
    color: #00a1d6;
    display: none;
}

.btools-history-emoji-bg {
    position: absolute;
    top: -10px;
    left: -20px;
    width: 190px;
    height: 0;
    opacity: 0.75;
    border-radius: 10px;
    background-color: #000;
    z-index: 100;
    display: none;
}

.btools-history-emoji-scroll {
  position: absolute;
  top: 0; left: 0;
  width: 150px;
  height: 31px;
  overflow: hidden;
  z-index: 1000;
}
.btools-history-emoji {
  margin: 0 5px;
  font-size: 12px !important;
  color: #999 !important;
  float: left;
  height: 30px;
  line-height: 30px;
  cursor: pointer;

  transition: all .2s;
  -webkit-transition: all .2s;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.btools-history-emoji:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.btools-history-emoji img {
  width: 30px;
  height: 30px;
}

.commentBtoolsLogo {
  width: 30px;
  height: 30px;
  float: left;
}
.commentBtoolsLogo::after {
  clear: both;
}

#BtoolsSearchComments {
  position: fixed;
  width: 600px;
  height: 400px;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
  z-index: 999999;
}

#BtoolsSearchComments .BtoolsBg {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.75;
  z-index: -1;
}

#BtoolsSearchText {
  margin-top: 30px;
  width: 80%;
  height: 40px;
  font-size: 30px;
  color: #FFF;
  background: none;
  text-align: center;
  border: none;
  border-bottom: 2px #FFF solid;
}

#BtoolsSearchClose {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 35px;
  color: #FFF;
}

.BtoolsSearchListBox {
  margin-top: 10px;
  padding: 0 5px;
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow-y: auto;
}

#BtoolsSearchClose:hover
{
  color: #F66;
}

#BtoolsSearchList {
  z-index: 1;
}
#BtoolsSearchList li {
  margin: 10px 0;
  color: #FFF;
  font-size: 18px;
  list-style: none;
}

.BtoolsUserInfo {
  position: relative;
}

.BtoolsUserHead,
.BtoolsUserNickname {
  position: absolute;
  top: -40px;
}

.BtoolsUserHead {
  left: 10px;
  width: 30px; height: 30px;
  border-radius: 100%;
}

.BtoolsUserNickname {
  left: 50px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  color: #FFF;
  cursor: pointer;
}
.BtoolsUserNickname:hover {
  color: #FFF;
}

.BtoolsVipName {
  color: #FB7299 !important;
}
.BtoolsVipName:hover {
  color: #FB7299 !important;
}

.BtoolsUserComment {
  margin-top: 40px;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px #CCC solid;
}

.BtoolsCommentKeyword {
  background-color: #FF0 !important;
  color: #666 !important;
}

.BtoolsCommentLocation {
  position: absolute;
  top: -36px;
  right: 2px;
  color: #FFF;
  font-size: 14px;
}

#btoolsAddEmojiText {
  position: absolute;
  top: -4px;
  left: 50px;
  padding-left: 3px;
  width: 160px;
  height: 20px;
  font-size: 12px;
}

.btools-add-text {
  color: #00a1d6 !important;
}

.BtoolsFindComment {
  background-color: #FF6 !important;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.BtoolsSearchListBox::-webkit-scrollbar
{
  width: 5px;  /*滚动条宽度*/
  height: 5px;  /*滚动条高度*/
}

/*定义滚动条轨道 内阴影*/
.BtoolsSearchListBox::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #CCC;/*滚动条的背景颜色*/
}

/*定义滑块 内阴影+圆角*/
.BtoolsSearchListBox::-webkit-scrollbar-thumb
{
  background-color: #666;  /*滚动条的背景颜色*/
}
