@charset "UTF-8";

.BtoolsLogoBtn
{
  position: absolute;
  width: 30px;
  height: 30px;
}
.BtoolsLogoBtn a
{
  width: 100%;
  height: 100%;
  display: block;
}

.BtoolsBtnAll
{
  position: absolute;
}

.BtoolsBtnAll a,
#BtoolsOpenBannerImg
{
  padding:5px;
  width: 30px;
  height: 30px;
  line-height: 15px;
  color: #FFF;
  font-size: 14px;
  text-align: center;
  /* border: 1px #029bcd solid; */
  background-color: #029bcd;
  border-radius: 3px;
  display: block;
}
.BtoolsBtnAll a:hover,
#BtoolsOpenBannerImg:hover
{
  color: #FFF;
}
.BtoolsBtnAll a
{
  margin-top: 5px;
}

#BtoolsOpenBannerImg
{
  position: absolute;
}

#BtoolsImageView {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 9999999;
}
#BtoolsImageView img {
  position: absolute;
  top: 0; left: 0;
  opacity: 0;
}
.BtoolsImageViewBg {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: -1;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
#BtoolsImageView::-webkit-scrollbar
{
  width: 5px;  /*滚动条宽度*/
  height: 5px;  /*滚动条高度*/
}

/*定义滚动条轨道 内阴影*/
#BtoolsImageView::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(2, 155, 205,0.3);
  background-color: #CCC;/*滚动条的背景颜色*/
}

/*定义滑块 内阴影+圆角*/
#BtoolsImageView::-webkit-scrollbar-thumb
{
  background-color: #029bcd;  /*滚动条的背景颜色*/
}
