@charset "UTF-8";

#app .Btools #BtoolsLOGO
{
  content: '';
  position: absolute;
  top: 125px; left: 21px;
  width: 30px;
  height: 30px;
  transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
}
#app .Btools::after
{
  content: '';
  position: absolute;
  top: 69px; left: 32px;
  width: 1px;
  height: 57px;
  background-color: #029bcd;
}

#hotKeyMenu
{
  position: absolute;
  top: 0; left: 0;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;

  z-index: 99999;
}
#hotKeyMenu p
{
  position: absolute;
  margin:5px 0;
  padding:0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #FFF;
  font-size: 20px;
  z-index: 2;
}
#hotKeyMenu p .key
{
  position: absolute;
  top: 0; left: 5px;
  width: 30px; height: 30px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #666;
  text-align: center;
  background-color: #FFF;
  border-radius: 5px;
}
#hotKeyMenu p .title
{
  position: absolute;
  top: 0; left: 40px;
  width: 100%;
}
#hotKeyMenu .menuTitle
{
  font-size: 18px;
  text-align: center;
}

#hotKeyMenu .bg
{
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: #000;
  opacity: 0.9;
  z-index: -1;
}

#hotKeyMenu,
.Btools-user-select-none a
{
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}
.Btools-user-select-none img
{
  pointer-events: none;
}
