@charset "UTF-8";

.Btools-viv-video-name
{
  color:#F66;
  font-weight:700;
}

#vivWindow
{
  position: fixed;
  top: 100px;
  left: 0;
  padding: 30px 10px 10px 10px;
  width: 500px;
  min-height: 300px;

  border-radius: 20px;
  overflow: hidden;

  z-index: 999999;
}

#vivWindow p
{
  color: #FFF;
  font-size: 20px;
}

.vivMediaInfoTitle
{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.vivMediaInfoContent
{
  padding: 10px 0;
  width: 500px;
  font-size: 14px !important;
  color: #FFF;
  border-top: 1px #FFF solid;
  border-bottom: 1px #FFF solid;
}

.vivMediaCount
{
  width: 500px;
}

#vivWindow .vivP
{
  margin: 0 auto;
  padding: 10px 0;
  width: 500px;
  max-height: 200px;
  color: #999;
}

.vivBilibiliCache a
{
  font-size: 18px;
  color: #ff94b1;
}
.vivBilibiliCache a:hover
{
  color: #ff94b1;
}

.vivClose
{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 35px;
  color: #FFF;
}
.vivClose:hover
{
  color: #F66;
}

.vivBG
{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.75;
  z-index: -1;
}

.BtoolsVivLoadding {
  position: absolute;
  top: 50px;
  left: 55px;
  width: 50px;
  height: 50px;
}

.BtoolsVivLoaddingText {
  position: absolute;
  top: 70px;
  left: -20px;
  width: 80px;
  height: 30px;
  color: #029bcd;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
}

.BtoolsVivLoaddingBG {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.75;
  border-radius: 5px;
}
